{% import '_includes/forms' as forms %}
<div class="freenav-menu-field">
    {{ forms.selectField({
        id: name,
        name: name,
        value: value,
        options: options,
    }) }}
</div>
